{% extends 'base.html.twig' %}

{% block stylesheets %}
<H1>Bienvenue sur le site de Baptiste</H1>
{% endblock stylesheets %}

{% block body %}
<p>Et si vous tentiez le mojito à la fraise ?
    Imaginez-vous, installés tranquillement sur votre terrasse ou votre balcon (dans le canapé ça marche aussi ;)),
    après une journée de boulot, en train de siroter ce délice de cocktail... La belle vie ! En plus, pas besoin d'être un expert,
    c'est facile et rapide à réaliser : du rhum, du jus de fraises, de l'eau gazeuse, un citron vert, du sirop de sucre de canne, des feuilles de menthe, de la glace pilée...
    Et le bonheur à l'arrivée !</p>

<p>Cette recette de mojito fraise est super parce qu'elle peut se décliner à l'infini avec d'autres fruits !
    Essayez le mojito framboise, délicieux aussi. Ou essayez aussi avec d'autres fruits rouges comme les groseilles, les mûres, le cassis.
    Vous pouvez également expérimenter cette recette avec des fruits exotiques comme la mangue, le fruit de la passion...
    Si vous n'avez pas de glace pilée, prenez quelques glaçons, mettez-les dans un sac de congélation bien fermé et cassez-les avec un marteau.
    Et attention au choix de votre eau gazeuse, veillez à ne pas choisir une eau trop salée comme la Saint-Yorre ; préférez le Perrier ou la San Pellegrino.
    Vous pouvez aussi opter pour de la limonade !</p>

{% endblock body %}